<!-- <div class="container">
    <div class="row">
      <div class="col">
        <img src={{product.img}} alt={{product.img}} width="50%" height="70%"/>
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>        
      </div>      
    </div>
</div> -->

<div class="container">
<div class="card" style="width:50%;">
    <img src={{product.img}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <button class="btn btn-primary"  data-dismiss="modal">Close</button>    

    </div>
  </div>
</div>